In [1]:
import seaborn as sns
from liar_dice_calculator.core import LiarDiceCalculator
from liar_dice_calculator.visualization import plot_heatmap

In [2]:
calculator = LiarDiceCalculator()

In [3]:
n_players = 2
is_wild = True
player_dices = {
    1: 2,
    2: 1,
    5: 2
}
degree_of_belief = 1

In [4]:
heatmap = calculator.predict(n_players, is_wild, player_dices, degree_of_belief)

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(heatmap)

In [10]:
df = df.T[::-1]

In [ ]:
df[df > 0.01].dropna(axis=0, how='all')

          0         1         2         3         4
8       NaN       NaN       NaN  0.052133       NaN
7  0.052133       NaN       NaN  0.241706       NaN
6  0.241706  0.052133  0.052133  0.620853  0.052133
5  0.620853  0.241706  0.241706  1.000000  0.241706
4  1.000000  0.620853  0.620853  1.000000  0.620853
3  1.000000  1.000000  1.000000  1.000000  1.000000
2  1.000000  1.000000  1.000000  1.000000  1.000000
1  1.000000  1.000000  1.000000  1.000000  1.000000
0  1.000000  1.000000  1.000000  1.000000  1.000000

In [16]:
dice_face_values = {
        i: "⚀⚁⚂⚃⚄⚅"[i]for i in range(6)
    }

In [17]:
dice_face_values[0]

'⚀'

In [ ]:
plot_heatmap(heatmap)